.container {
  box-sizing: border-box;
}
.topCard {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-evenly;
}

.bottom {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

/* OrderShortCut */
.bot_left {
  display: flex;
  flex-direction: column;
  width: 65%;
  background-color: white;
  border-radius: 1%;
  box-shadow: 0 8px 8px 0 rgba(227, 235, 240, 0.712),
    0 10px 10px 0 rgba(227, 235, 240, 0.712);
  align-items: center;
}
.title {
  height: 50px;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 1.5px;
  font-family: fujiyama;
  font-weight: 500;

  padding-top: 12px;
  color: rgb(180, 50, 50);
}

.bot_right {
  height: fit-content;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: white;
  border-radius: 2%;
  box-shadow: 0 8px 8px 0 rgba(227, 235, 240, 0.712),
    0 10px 10px 0 rgba(227, 235, 240, 0.712);
  align-items: center;
}
